*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

button,
input {
  border: 0;
  outline: 0;
  font-size: 16px;
  padding: 8px;
  text-shadow: 1px 1px 0 #FFF;
  color: #61677C;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  background-color: #FFF;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  padding: 4px 8px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}

button:active {
  box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

#header {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding-left: 72px;
  padding-right: 4px;
  height: 40px;
}

.draggable {
  display: flex;
  flex: 1;
  height: 100%;
  -webkit-app-region: drag;
}
#toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
}

#minimizedOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  -webkit-app-region: drag;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1d1d1f;
  }

  button {
    color: #6e6e73;
    background-color: #1d1d1f;
    text-shadow: 1px 1px 0 #1d1d1f;
  }

  button:hover {
    box-shadow: -2px -2px 5px #1d1d1f, 2px 2px 5px #424245;
  }

  button:active {
    box-shadow: inset 1px 1px 2px #424245, inset -1px -1px 2px #1d1d1f;
  }
}
